.row{
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.col-2{
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.grid {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."; 
}


div.row:nth-child(odd) {
 margin-right:auto;
}

div.row:nth-child(even) {
  margin-left:auto;
 }
 
 div.row:nth-child(even) > div > div{
  flex-direction: row-reverse;
}

.pais{
  width:100px;
  text-align:center;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
//   padding:0 !important;
// }



// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//   padding:0 !important;
//   margin-top:0 !important;
// }

// ::ng-deep .mat-form-field-infix{
//   text-align: center !important;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
//   padding: .5em 0px !important;
// }

::ng-deep  .mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin:0 !important;
}


::ng-deep .mat-form-field-wrapper {
  padding: 0 !important;
}

::ng-deep mat-form-field{
  color: black !important;
  background: white !important;
  border-radius: 10px !important;
}