html {
  overflow:hidden;
}
.example-container {
  width: 100%;
  height: auto;
}

mat-sidenav {
  width: 200px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-sidenav-container{
  height:100%;
}

mat-toolbar{
  position: fixed;
  top:0;
  z-index: 10;
}

mat-sidenav-content{
  background-image:url('../assets/fondo_1.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wave{
  background-image: url('../assets/wave.svg'); 
}


