<div class="background">
  <form [formGroup]="formCuartos">
    <ng-container formArrayName="cuartos">
      <ng-container *ngFor="let partido of partidosCuartos.controls;  let i = index">
        <div class="row" [formGroupName]="i">
          <div class="col-1">
            <div class="medal scale-in-center" *ngIf="partido.value['paisA'] === partido.value['ganador'] && partido.value['paisA'] && partido.value['ganador']">
            </div>
          </div>
          <div class="col-8">
            <div class="pais">
              {{partido.value['paisA']}}
            </div>
            <mat-form-field appearance="outline">
              <input matInput formControlName="golesA" >
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="scale-in-center" *ngIf="partido.value['golesA'] === partido.value['golesB'] && partido.value['golesB'] && partido.value['golesA']">
              <input matInput formControlName="penalesA" >
            </mat-form-field>
            <mat-form-field appearance="outline" class="scale-in-center" *ngIf="partido.value['golesA'] === partido.value['golesB'] && partido.value['golesB'] && partido.value['golesA']">
              <input matInput formControlName="penalesB" >
            </mat-form-field>
         
           
            <mat-form-field appearance="outline">
              <input matInput formControlName="golesB" >
            </mat-form-field>
            <div class="pais">
              {{partido.value['paisB']}}
            </div>
          </div> 
          <div class="col-1" >
              <div class="medal scale-in-center" *ngIf="partido.value['paisB'] === partido.value['ganador'] && partido.value['paisA'] && partido.value['ganador']">
              </div>
          </div>
          
        </div>
      </ng-container>
    </ng-container>
  </form>
</div>