
mat-stepper {
  background-color: white;
  @media (max-width:1025px) {
    margin:0;
  }
}

.row{
  align-items: baseline;
  justify-content: center;
}

.background{
  background: white;
}


.titulo{
  font-family: 'world-cup';
  text-align: center;
  color: #7F1431;
  font-size:xx-large;
  font-weight: bold;
}

::ng-deep .mat-horizontal-content-container{
  min-height: 500px !important;
}

.right{
  position: absolute;
  right: 0;
  top: calc(45% - 40px);
}


.left{
  position: absolute;
  left: 0;
  top: calc(45% - 40px);
}


