
mat-stepper {
  background-color: white;
  @media (max-width:1025px) {
    margin:0;
  }
}

.row{
  align-items: baseline;
  justify-content: center;
}

.background{
  background: white;
}


.titulo{
  font-family: 'world-cup';
  text-align: center;
  color: #7F1431;
  font-size:xx-large;
  font-weight: bold;
}

::ng-deep .mat-horizontal-content-container{
  min-height: 500px !important;
}

.right{
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1000;
}


.left{
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 1000;
}


.grid {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."; 
}

::ng-deep .mat-horizontal-stepper-header-container {
  width: 50% !important;
  margin: auto !important;
}

// ::ng-deep .mat-horizontal-content-container{
//   background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(98,32,64,1) 83%) !important;
// }

