<mat-stepper #stepper>
  <mat-step label="Primera Fase">

    <mat-tab-group>
      <mat-tab label="Grupo A"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group A'"></app-primera-fase></mat-tab>
      <mat-tab label="Grupo B"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group B'"></app-primera-fase> </mat-tab>
      <mat-tab label="Grupo C"> <app-primera-fase  (resultados)="addResultado($event)" [grupo]="'Group C'"></app-primera-fase></mat-tab>
      <mat-tab label="Grupo D"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group D'"></app-primera-fase> </mat-tab>
      <mat-tab label="Grupo E"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group E'"></app-primera-fase></mat-tab>
      <mat-tab label="Grupo F"> <app-primera-fase  (resultados)="addResultado($event)"[grupo]="'Group F'"></app-primera-fase> </mat-tab>
      <mat-tab label="Grupo G"> <app-primera-fase  (resultados)="addResultado($event)"[grupo]="'Group G'"></app-primera-fase></mat-tab>
      <mat-tab label="Grupo H"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group H'"></app-primera-fase> </mat-tab>
    </mat-tab-group>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
  
  </mat-step>
  <mat-step  label="Octavos">
    <app-octavos [octavos]="primeraFase"> </app-octavos>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>