
  <mat-stepper #stepper>
    <div class="background">
    <mat-step label="Primera Fase">
      <h1 class="titulo">
        Primera Fase
      </h1>
      <div >
        <button class="right" color="primary" mat-mini-fab matStepperNext>
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
      <ng-template matStepperIcon="edit">
        <mat-icon>bubble_chart</mat-icon>
      </ng-template>
      <mat-tab-group>
        <mat-tab label="Grupo A"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group A'"></app-primera-fase></mat-tab>
        <mat-tab label="Grupo B"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group B'"></app-primera-fase> </mat-tab>
        <mat-tab label="Grupo C"> <app-primera-fase  (resultados)="addResultado($event)" [grupo]="'Group C'"></app-primera-fase></mat-tab>
        <mat-tab label="Grupo D"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group D'"></app-primera-fase> </mat-tab>
        <mat-tab label="Grupo E"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group E'"></app-primera-fase></mat-tab>
        <mat-tab label="Grupo F"> <app-primera-fase  (resultados)="addResultado($event)"[grupo]="'Group F'"></app-primera-fase> </mat-tab>
        <mat-tab label="Grupo G"> <app-primera-fase  (resultados)="addResultado($event)"[grupo]="'Group G'"></app-primera-fase></mat-tab>
        <mat-tab label="Grupo H"> <app-primera-fase (resultados)="addResultado($event)" [grupo]="'Group H'"></app-primera-fase> </mat-tab>
      </mat-tab-group>
  
    
    
    </mat-step>
    <mat-step  label="Eliminación Directa">
    
      <div >
        <button class="left" color="primary" mat-mini-fab matStepperPrevious style="top:20px">
          <mat-icon>arrow_left</mat-icon>
        </button>
        <button class="right" color="primary" mat-raised-button style="top:20px" (click)="onSubmit()">
          Enviar Quiniela
        </button>
      </div>

        <app-octavos (resultados)="addOctavos($event)" [octavos]="primeraFase"  > 
  
          <app-cuartos (resultados)="addCuartos($event)" [cuartos]="octavos" [grupos]="['AB1-CD1','AB2-CD2','EF1-GH1','EF2-GH2']" >
            <app-semifinales (resultados)="addSemifinales($event)" [cuartos]="cuartos"  [grupos]="['AB1-CD1 EF1-GH1','AB2-CD2 EF2-GH2']"> 
              <app-finales (resultados)="addFinales($event)" [cuartos]="semifinales"   [grupos]="['AB1-CD1 EF1-GH1 AB2-CD2 EF2-GH2']"> </app-finales>
              <app-finales (resultados)="addTercerLugar($event)" [cuartos]="semifinalesPerdedores"   [grupos]="['AB1-CD1 EF1-GH1 AB2-CD2 EF2-GH2']"> </app-finales>
            </app-semifinales>
          </app-cuartos>
        </app-octavos>

    </mat-step>
    <!-- <mat-step  label="Cuartos">
      <h1 class="titulo">
        Cuartos
      </h1>
      <div class="position-relative" >
        <button class="left" color="primary" mat-mini-fab matStepperPrevious>
          <mat-icon>arrow_left</mat-icon>
        </button>
        <button class="right" color="primary" mat-mini-fab matStepperNext>
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
      <app-cuartos (resultados)="addCuartos($event)" [cuartos]="octavos" [grupos]="['AB1-CD1','AB2-CD2','EF1-GH1','EF2-GH2']" > </app-cuartos>
    </mat-step>
    <mat-step label="Semifinales">
      <h1 class="titulo">
        Semifinales
      </h1>
      <div class="position-relative" >
        <button class="left" color="primary" mat-mini-fab matStepperPrevious>
          <mat-icon>arrow_left</mat-icon>
        </button>
        <button class="right" color="primary" mat-mini-fab matStepperNext>
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
      <app-cuartos (resultados)="addSemifinales($event)" [cuartos]="cuartos"  [grupos]="['AB1-CD1 EF1-GH1','AB2-CD2 EF2-GH2']"> </app-cuartos>
    </mat-step>
    <mat-step label="Definición">
      
      <h1 class="titulo">
        Definición
      </h1>
      <div class="position-relative" >
        <button class="left" color="primary" mat-mini-fab matStepperPrevious>
          <mat-icon>arrow_left</mat-icon>
        </button>
      </div>
      <app-cuartos (resultados)="addFinales($event)" [cuartos]="semifinales"   [grupos]="['AB1-CD1 EF1-GH1 AB2-CD2 EF2-GH2']"> </app-cuartos>
      <h1 class="titulo">
        Tercer Lugar
      </h1>
      <app-cuartos (resultados)="addTercerLugar($event)" [cuartos]="semifinalesPerdedores"   [grupos]="['AB1-CD1 EF1-GH1 AB2-CD2 EF2-GH2']"> </app-cuartos>
      
 
      <div>
        <button mat-button (click)="onSubmit()">Enviar</button>
      </div>
    </mat-step> -->
  </div>
  </mat-stepper>