<mat-stepper #stepper>
  <mat-step label="Primera Fase">
   
      <!-- <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field> -->
      <h2>puntaje</h2>
      <pre>
        {{puntaje | json}}
      </pre> 
      <div>

      </div>
      <h2>partidos</h2>
      {{partidosJugados | json}}
      <form [formGroup]="grupo">
        <ng-container formArrayName="partidos">
          <ng-container *ngFor="let partido of partidos.controls;  let i = index">
           
              <div class="row" [formGroupName]="i">
                <div class="col-2">
                  {{partido.value['partidoNum']}}
                </div>
                <div class="col-2">
                  {{partido.value['fecha'] | date: 'short'}}
                </div>
                <!-- <div formGroupName="equipoA">
                  <input type="text" formControlName="pais">
                </div> -->
                <div class="col-4" formGroupName="resultados">
                  <input type="text" readonly formControlName="paisA" class="border-0 text-center" >
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput formControlName="golesA" >
                  </mat-form-field>
                  
                  <input type="text" readonly formControlName="paisB" class="border-0 text-center" >
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput formControlName="golesB">
                  </mat-form-field>
                </div>
              
                <!-- <div class="col-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput formControlName="equipoBGoles" >
                  </mat-form-field>
                  {{partido.value['equipoB']}}
  
                </div> -->
              </div>
     
          </ng-container>
        </ng-container>
      </form>
      <!-- {{grupo.value | json}} -->

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
  
  </mat-step>
  <mat-step  label="Fill out your address">
    <!-- <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form> -->
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>